* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: hsl(34, 100%, 62%);
}

@font-face {
  font-family: 'caveStory';
  src: url('./assets/fonts/Cave-Story.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'terminalGrotesque';
  src: url('./assets/fonts/terminal-grotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'terminalGrotesque';
  line-height: 1.6;
}

::selection {
  background-color: hsl(34, 100%, 56%);
  color: hsl(0, 0%, 0%);
}

label {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.banner-section {
  flex: 7;
  background: url('./assets/images/banner.jpg') no-repeat center / cover;
}

.form-section {
  flex: 4;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 8%);
  padding: 2.5rem 5rem;
}

.main-title {
  color: var(--accent-color);
  font-size: 5rem;
  font-family: 'caveStory';
  letter-spacing: 0.1em;
  line-height: 0.8;
}

.game-intro {
  font-size: 1.25rem;
  margin-top: 2em;
  max-width: 40rem;
}

.form-cta {
  font-size: 2.2rem;
  letter-spacing: 0.1em;
  line-height: 0.8;
  font-family: 'caveStory';
  margin: 1.5em 0 0.5em 0;
}

.cta-emoji {
  font-size: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-top: 1.5rem;
}

.input-field {
  max-width: 22rem;
  padding: 0.15em 0.3em;
  border-radius: 0.3em;
  font-size: 1.5rem;
  font-family: inherit;
  outline: none;
  border: 2px solid hsl(0, 0%, 8%);
}

.input-field:active,
.input-field:focus {
  border: 2px solid var(--accent-color);
  outline: none;
}

.input-field:valid {
  border: 2px solid hsl(120, 100%, 52%);
}

.input-field::placeholder {
  color: hsla(0, 0%, 11%, 0.24);
}

.btn {
  background-color: var(--accent-color);
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  margin-top: 2em;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  letter-spacing: 0.1em;
  border-radius: 0.3em;
}

.btn:hover {
  background-color: hsl(34, 100%, 52%);
}

.error-msg {
  color: hsl(0, 100%, 60%);
  font-size: 0.8rem;
}
