* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'caveStory';
  src: url('./assets/fonts/Cave-Story.ttf') format('truetype');
}

@font-face {
  font-family: 'terminalGrotesque';
  src: url('./assets/fonts/terminal-grotesque.ttf') format('truetype');
}

body {
  font-family: 'terminalGrotesque';
}

.main {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.banner-section {
  flex: 6;
  background: url('./assets/images/banner.jpg') no-repeat center / cover;
}

.form-section {
  flex: 5;
  color: white;
  background: #333;
}
